#profile {
border: red solid 1px;
background-color: rgb(22, 22, 22);
color: rgb(133, 199, 0);
border-radius: 20px;
}

body {
background-color: rgb(10, 10, 10);       


}

#sobre-mim {
color: white;
border: red solid 1px;
border-radius: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif ;
}

#skills {
border: red solid;


}

